include README.md
include .DS_Store
include *.code-workspace
recursive-exclude .git *
recursive-include collections *.yml
recursive-include inventories *
include ocp/group_vars/ocp_Windows.yml
include ocp/ocp.ini
